.container{
max-width: 823px;
margin: 0 auto;
}
.menu_btn {
  position: fixed;
  top: 23px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.menu_btn > span::before {
  content: '';
  top: -8px;
}
.menu_btn > span::after {
  content: '';
  top: 8px;
}
#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
  visibility: visible;
  right: 0;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  transition-duration: .25s;
}
.menu_box {
display: flex;
flex-direction: column;
position: fixed;
visibility: hidden;
top: 0;
right: -100%;
width: 300px;
height: 100%;
margin: 0;
text-align: center;
background-color: rgba(0, 0, 0, 0.87);
border: solid 1px #000000;
transition-duration: .25s;
z-index: 1;
}
.promo_callout-text{
font-size: 70px;
}
.promo_buttons {
display: flex;
justify-content: space-evenly;
}
.promo_buttons button{
max-width: 200px;
}
.promo_buttons button:first-child{
margin-right: 0px;
}
.cook_img__dish{
width: 60%;	
}
.ingredients{
display: flex;
align-items: center;
justify-content: center;
}
.menu_block{
max-width: 400px;
display: flex;
flex-direction: column;
}
.menu hr{
max-width: 400px;
}
.menu_block div{
padding: 8px;
max-width: 400px;
}
.menu_special{
max-width: 420px;
}
.reservations_images {
display: flex;
justify-content: center;
}
.reservations_images img{
width: 40%;
}
.reservations_form input{
width: 100%;
}
.footer{
display: flex;
flex-wrap: wrap;
flex-direction: column;
}
.footer_column{
width: 300px;
height: 210px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
.footer_column:first-child{
margin-top: 30px;
}
.footer_column__cards, .footer_column__social{
padding-top: 0;
}